.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  transition: opacity 1s;
  background-color: var(--calcite-color-background);
}

.loader_loader {
  position: relative;
  width: 100%;
  height: 100%;
  --calcite-loader-size: 160px;
  --calcite-loader-spacing: 0;
}

.loader_text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: var(--calcite-size-fixed-sm);
  justify-content: center;
  align-items: center;
  font-size: var(--calcite-font-size-xxl);
  font-weight: var(--calcite-font-weight-medium);
  color: var(--calcite-color-text-1);
}
