.advisory-item {
  calcite-notice {
    width: 100%;
  }

  .advisory-item_advisory {
    display: flex;
    flex-direction: column;
  }

  &[scale="s"] {
    calcite-loader {
      --calcite-loader-spacing: var(--calcite-size-sm);
      --calcite-loader-size: var(--calcite-size-md);
    }

    .advisory-item_content {
      padding: var(--calcite-spacing-sm);
    }

    .advisory-item_advisory {
      gap: var(--calcite-spacing-md);
      font-size: var(--calcite-font-size-sm);
    }
  }

  &[scale="m"] {
    calcite-loader {
      --calcite-loader-spacing: var(--calcite-size-md);
      --calcite-loader-size: var(--calcite-size-lg);
    }

    .advisory-item_content {
      padding: var(--calcite-spacing-md);
    }

    .advisory-item_advisory {
      gap: var(--calcite-spacing-lg);
      font-size: var(--calcite-font-size);
    }
  }
}
