.money-tides_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--calcite-color-brand);

  calcite-input-date-picker {
    &[scale='s'] {
      width: 236.5px;
    }

    &[scale='m'] {
      width: 298px;
    }
  }
}

.money-tides_header--date {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.money-tides_view {
  width: 100%;
  height: 100%;
}
