$moon-size: 66px;
$moon-dark: #31302e;
$moon-light: #fcfeda;

.lunar-phase-panel {
  --calcite-panel-content-space: 0.75rem;
  --calcite-panel-min-size-x: 400px;
  --calcite-panel-background-color: var(--calcite-color-foreground-1);
}

.lunar-phase-panel_container {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-size: var(--calcite-font-size-sm);
  color: var(--calcite-color-text-1);

  strong {
    font-weight: var(--calcite-font-weight-bold);
  }
}

.lunar-phase-panel_info {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  line-height: 1;
}

.lunar-phase-panel_moon {
  border-radius: 100%;
  width: $moon-size;
  height: $moon-size;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.lunar-phase-panel_hemisphere {
  width: 50%;
  height: 100%;
}

.lunar-phase-panel_light {
  background-color: $moon-light;
}

.lunar-phase-panel_dark {
  background-color: $moon-dark;
}

.lunar-phase-panel_divider,
.lunar-phase-panel_divider:after {
  top: 0;
  left: 0;
  width: $moon-size;
  height: $moon-size;
  position: absolute;
  border-radius: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.lunar-phase-panel_divider {
  background-color: $moon-dark;
}

.lunar-phase-panel_divider:after {
  content: '';
  background-color: $moon-light;
  transform: rotateY(180deg);
}
