.settings-popover {
  &[scale='s'] {
    .settings-popover_content {
      padding: var(--calcite-spacing-xs);
    }
  }

  &[scale='m'] {
    .settings-popover_content {
      padding: var(--calcite-spacing-sm);
    }
  }
}
