.layer-item{--calcite-list-background-color-hover: transparent;--calcite-list-background-color-press: transparent}.layer-item[scale=s] .layer-item_content{padding:.5rem}.layer-item[scale=m] .layer-item_content{padding:.75rem}
