.about-dialog_content {
  display: flex;
  flex-direction: column;

  strong {
    font-weight: var(--calcite-font-weight-medium);
    color: var(--calcite-color-text-1);
  }
}

.about-dialog_heading {
  font-weight: var(--calcite-font-weight-medium);
  color: var(--calcite-color-text-1);
}

.about-dialog {
  &[scale='s'] {
    .about-dialog_content {
      gap: 0.5rem;
      font-size: var(--calcite-font-size-sm);
    }

    .about-dialog_heading {
      font-size: var(--calcite-font-size);
    }
  }

  &[scale='m'] {
    .about-dialog_content {
      gap: 0.75rem;
      font-size: var(--calcite-font-size);
    }

    .about-dialog_heading {
      font-size: var(--calcite-font-size-md);
    }
  }

  &[scale='l'] {
    .about-dialog_content {
      gap: 1rem;
      font-size: var(--calcite-font-size-md);
    }

    .about-dialog_heading {
      font-size: var(--calcite-font-size-lg);
    }
  }
}
