.weather-panel_content {
  padding: 0.5rem;
  border-top: 1px solid var(--calcite-color-border-3);
  font-size: var(--calcite-font-size--2);
}

.weather-panel_item {
  --calcite-list-background-color-hover: transparent;
  --calcite-list-background-color-press: transparent;
}

.weather-panel_notice {
  padding: 0.5rem;

  calcite-notice {
    width: 100%;
  }
}
