.declination-popover {
  .declination-popover_content {
    line-height: var(--calcite-font-line-height-relative-normal);
  }

  &[scale='s'] {
    .declination-popover_content {
      padding: var(--calcite-spacing-xs);
      font-size: var(--calcite-font-size-sm);
    }
  }

  &[scale='m'] {
    .declination-popover_content {
      padding: var(--calcite-spacing-sm);
      font-size: var(--calcite-font-size);
    }
  }
}
