.attribution-popover {
  .attribution-popover_content {
    line-height: var(--calcite-font-line-height-relative-snug);
    color: var(--calcite-color-text-2);
  }

  &[scale='s'] {
    --calcite-popover-max-size-x: 24rem;

    .attribution-popover_content {
      padding: var(--calcite-spacing-xs);
      font-size: var(--calcite-font-size-sm);
    }
  }

  &[scale='m'] {
    --calcite-popover-max-size-x: 32rem;

    .attribution-popover_content {
      padding: var(--calcite-spacing-sm);
      font-size: var(--calcite-font-size);
    }
  }
}
