$money: #1a9641;

$mostly-money: #a6d96a;

$kinda-money: #ffffbf;

$potentially-money: #fdae61;

$not-money: #d7191c;

$text-shadow:
  -1px -1px 2px rgba(0, 0, 0, 128),
  1px -1px 2px rgba(0, 0, 0, 128),
  -1px 1px 2px rgba(0, 0, 0, 128),
  1px 1px 2px rgba(0, 0, 0, 128);
