@use 'styles' as styles;

.about-modal {
  --calcite-dialog-content-space: 0;
}

.about-modal_content {
  padding: 0 0.75rem;
}

.about-modal_heading {
  font-size: var(--calcite-font-size-0);
  font-weight: var(--calcite-font-weight-medium);
}

.about-modal_medium {
  font-weight: var(--calcite-font-weight-medium);

  &[money="0"] {
    color: styles.$not-money;
  }

  &[money="1"] {
    color: styles.$potentially-money;
    text-shadow: styles.$text-shadow;
  }

  &[money="2"] {
    color: styles.$kinda-money;
    text-shadow: styles.$text-shadow;
  }

  &[money="3"] {
    color: styles.$mostly-money;
    text-shadow: styles.$text-shadow;
  }

  &[money="4"] {
    color: styles.$money;
  }
}
