.application-dialog {
  --calcite-dialog-content-space: 0;

  calcite-table {
    --calcite-table-border-color: none;
  }
}

.application-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  background-color: var(--calcite-color-brand);
  color: var(--calcite-color-text-inverse);
  font-size: var(--calcite-font-size-lg);

  calcite-input-date-picker {
    max-width: 200px;
  }
}

.application-loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  --calcite-loader-spacing: 0;
  background-color: var(--calcite-color-foreground-1);
  transition: opacity 1s;
}

.application-view {
  width: 100%;
  height: 100%;
}

calcite-dialog {
  &[kind="danger"] {
    --calcite-dialog-heading-text-color: var(--calcite-color-status-danger);
  }

  &[kind="warning"] {
    --calcite-dialog-heading-text-color: var(--calcite-color-status-warning);
  }

  &[kind="success"] {
    --calcite-dialog-heading-text-color: var(--calcite-color-status-success);
  }
}
