$money: #1a9641;

$mostly-money: #a6d96a;

$kinda-money: #ffffbf;

$potentially-money: #fdae61;

$not-money: #d7191c;

$text-shadow:
  -1px -1px 2px rgba(0, 0, 0, 128),
  1px -1px 2px rgba(0, 0, 0, 128),
  -1px 1px 2px rgba(0, 0, 0, 128),
  1px 1px 2px rgba(0, 0, 0, 128);

.esri-view .esri-view-surface::after {
  outline: none !important;
  outline-offset: 0;
}

.esri-ui-top-right {
  top: -5px;
  right: -5px;
}

.esri-ui-top-left {
  top: -5px;
  left: -5px;
}

.esri-ui-bottom-left {
  bottom: -20px;
  left: -5px;
}

.esri-ui-bottom-right {
  bottom: -20px;
  right: -5px;
}

.about-modal {
  --calcite-dialog-content-space: 0;

  span {
    &.money,
    &.mostly-money,
    &.kinda-money,
    &.potentially-money,
    &.not-money {
      font-weight: var(--calcite-font-weight-medium);
    }

    &.money {
      color: $money;
    }

    &.mostly-money {
      color: $mostly-money;
      text-shadow: $text-shadow;
    }

    &.kinda-money {
      color: $kinda-money;
      text-shadow: $text-shadow;
    }

    &.potentially-money {
      color: $potentially-money;
      text-shadow: $text-shadow;
    }

    &.not-money {
      color: $not-money;
    }
  }
}

.about-modal_content {
  padding: 0 0.75rem;
}

.about-modal_heading {
  font-size: var(--calcite-font-size-0);
  font-weight: var(--calcite-font-weight-medium);
}

.map-controls {
  box-shadow: none !important;

  calcite-popover {
    --calcite-popover-text-color: var(--calcite-color-text-2);
  }
}

.map-controls_actions {
  display: flex;
  flex-flow: column;
  gap: 0.75rem;

  calcite-action-bar {
    box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
  }
}

.map-controls_content {
  max-width: 360px;
  padding: var(--calcite-spacing-sm);
  font-size: var(--calcite-font-size--2);
}

.money-tides_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  background-color: var(--calcite-color-brand);
  color: var(--calcite-color-text-inverse);
  font-size: var(--calcite-font-size-lg);

  calcite-input-date-picker {
    max-width: 200px;
  }
}

.money-tides_header--buttons {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.money-tides_header--date {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

@media (max-width: 500px) {
  .money-tides_header--title {
    display: none;
  }
}

.money-tides_loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  --calcite-loader-spacing: 0;
  background-color: var(--calcite-color-foreground-1);
  transition: opacity 1s;
}

.money-tides_view {
  width: 100%;
  height: 100%;
}
