.esri-view .esri-view-surface::after {
  outline: none !important;
  outline-offset: 0;
}

.esri-ui-top-right {
  top: -5px;
  right: -5px;
}

.esri-ui-top-left {
  top: -5px;
  left: -5px;
}

.esri-ui-bottom-left {
  bottom: -20px;
  left: -5px;
}

.esri-ui-bottom-right {
  bottom: -20px;
  right: -5px;
}

* {
  --calcite-color-focus: var(--calcite-color-transparent);
}

.money-tides_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--calcite-color-brand);
  color: var(--calcite-color-text-inverse);
  font-size: var(--calcite-font-size-md);

  calcite-input-date-picker {
    max-width: 200px;
  }
}

.money-tides_header--buttons {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.money-tides_header--date {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.money-tides_header--title {
  font-weight: var(--calcite-font-weight-medium);
}

@media (max-width: 500px) {
  .money-tides_header--title {
    display: none;
  }
}

.money-tides_view {
  width: 100%;
  height: 100%;
}

/** moon **/

$moon-size: 140px;
$moon-dark: var(--calcite-color-text-2);
$moon-light: var(--calcite-color-border-3);

.lunar-phase-modal {
  --calcite-dialog-content-space: 0;
  --calcite-dialog-max-size-x: 400px;
  --calcite-dialog-background-color: var(--calcite-ui-brand-press);
}

.lunar-phase-modal_container {
  display: flex;
  flex-direction: row;
  background-color: var(--calcite-ui-brand-press);
  align-items: center;
}

.lunar-phase-modal_medium {
  font-weight: var(--calcite-font-weight-medium);
}

.lunar-phase-modal_info {
  color: var(--calcite-color-text-inverse);
}

.lunar-phase-modal_sky {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.lunar-phase-modal_moon {
  border-radius: 100%;
  width: $moon-size;
  height: $moon-size;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.lunar-phase-modal_hemisphere {
  width: 50%;
  height: 100%;
}

.lunar-phase-modal_light {
  background-color: $moon-light;
}

.lunar-phase-modal_dark {
  background-color: $moon-dark;
}

.lunar-phase-modal_divider,
.lunar-phase-modal_divider:after {
  top: 0;
  left: 0;
  width: $moon-size;
  height: $moon-size;
  position: absolute;
  border-radius: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.lunar-phase-modal_divider {
  background-color: $moon-dark;
}

.lunar-phase-modal_divider:after {
  content: '';
  background-color: $moon-light;
  transform: rotateY(180deg);
}
