// calcite
@use "../node_modules/@esri/calcite-components/dist/calcite/calcite.css";

@use "../node_modules/@arcgis/core/assets/esri/themes/base/fonts/fonts.scss" with (
  $calcite-fonts-path: "../node_modules/@arcgis/core/assets/esri/themes/base/fonts/fonts/"
);

@use "../node_modules/@arcgis/core/assets/esri/themes/base/_View.scss";

.esri-view .esri-view-surface::after {
  outline: none !important;
  outline-offset: 0;
}

// * {
//   --calcite-color-focus: var(--calcite-color-transparent);
// }

// .test-ramp {
//   width: 100%;
//   height: 15px;
//   background: linear-gradient(
//     90deg,
//     #e9feff 0%,
//     #c9f6f8 6.67%,
//     #92ecf0 13.33%,
//     #4cd5e2 20%,
//     #22b7c0 26.67%,
//     #2fb381 33.33%,
//     #90e86a 40%,
//     #dff27a 46.67%,
//     #ffd36b 53.33%,
//     #ffb45a 60%,
//     #ff7a40 66.67%,
//     #e03b2a 73.33%,
//     #b61a1a 80%,
//     #6e0d20 86.67%,
//     #300019 93.33%,
//     #1b0010 100%
//   );
// }
