.esri-view .esri-view-surface::after {
  outline: none !important;
  outline-offset: 0;
}

.esri-ui-top-right {
  top: -5px;
  right: -5px;
}

.esri-ui-top-left {
  top: -5px;
  left: -5px;
}

.esri-ui-bottom-left {
  bottom: -20px;
  left: -5px;
}

.esri-ui-bottom-right {
  bottom: -20px;
  right: -5px;
}

* {
  --calcite-color-focus: var(--calcite-color-transparent);
}

.money-tides_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--calcite-color-brand);
  color: var(--calcite-color-text-inverse);
  font-size: var(--calcite-font-size-md);

  calcite-input-date-picker {
    max-width: 200px;
  }
}

.money-tides_header--buttons {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.money-tides_header--date {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.money-tides_header--title {
  font-weight: var(--calcite-font-weight-medium);
}

@media (max-width: 500px) {
  .money-tides_header--title {
    display: none;
  }
}

.money-tides_view {
  width: 100%;
  height: 100%;
}

/** lunar phase **/

$moon-size: 66px;
$moon-dark: var(--calcite-color-text-2);
$moon-light: var(--calcite-color-border-3);

.lunar-phase-panel {
  --calcite-panel-content-space: 0.75rem;
  --calcite-panel-min-size-x: 400px;
  --calcite-panel-background-color: var(--calcite-ui-brand-press);
}

.lunar-phase-panel_container {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 1rem;
  background-color: var(--calcite-ui-brand-press);
  align-items: center;
  font-size: var(--calcite-font-size-sm);
}

.lunar-phase-panel_medium {
  font-weight: var(--calcite-font-weight-medium);
}

.lunar-phase-panel_info {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  line-height: 1;
  color: var(--calcite-color-text-inverse);
}

.lunar-phase-panel_moon {
  border-radius: 100%;
  width: $moon-size;
  height: $moon-size;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.lunar-phase-panel_hemisphere {
  width: 50%;
  height: 100%;
}

.lunar-phase-panel_light {
  background-color: $moon-light;
}

.lunar-phase-panel_dark {
  background-color: $moon-dark;
}

.lunar-phase-panel_divider,
.lunar-phase-panel_divider:after {
  top: 0;
  left: 0;
  width: $moon-size;
  height: $moon-size;
  position: absolute;
  border-radius: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.lunar-phase-panel_divider {
  background-color: $moon-dark;
}

.lunar-phase-panel_divider:after {
  content: '';
  background-color: $moon-light;
  transform: rotateY(180deg);
}

.test-ramp {
  width: 100%; /* adjust as needed */
  height: 40px; /* adjust as needed */
  background: linear-gradient(
    90deg,
    #e9feff 0%,
    #c9f6f8 6.67%,
    #92ecf0 13.33%,
    #4cd5e2 20%,
    #22b7c0 26.67%,
    #2fb381 33.33%,
    #90e86a 40%,
    #dff27a 46.67%,
    #ffd36b 53.33%,
    #ffb45a 60%,
    #ff7a40 66.67%,
    #e03b2a 73.33%,
    #b61a1a 80%,
    #6e0d20 86.67%,
    #300019 93.33%,
    #1b0010 100%
  );
  // border-radius: 4px;
  // box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05);
}

.test-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 8px;
}
