.map-controls {
  box-shadow: none !important;

  calcite-popover {
    --calcite-popover-text-color: var(--calcite-color-text-2);
  }
}

.map-controls_actions {
  display: flex;
  flex-flow: column;
  gap: 0.75rem;

  calcite-action-bar {
    box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
  }
}

.map-controls_content {
  max-width: 360px;
  padding: var(--calcite-spacing-sm);
  font-size: var(--calcite-font-size--2);
}
