.esri-view .esri-view-surface::after {
  outline: none !important;
  outline-offset: 0;
}

.esri-ui-top-right {
  top: -5px;
  right: -5px;
}

.esri-ui-top-left {
  top: -5px;
  left: -5px;
}

.esri-ui-bottom-left {
  bottom: -20px;
  left: -5px;
}

.esri-ui-bottom-right {
  bottom: -20px;
  right: -5px;
}

.money-tides_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  background-color: var(--calcite-color-brand);
  color: var(--calcite-color-text-inverse);
  font-size: var(--calcite-font-size-lg);

  calcite-input-date-picker {
    max-width: 200px;
  }
}

.money-tides_header--buttons {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.money-tides_header--date {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

@media (max-width: 500px) {
  .money-tides_header--title {
    display: none;
  }
}

.money-tides_loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  --calcite-loader-spacing: 0;
  background-color: var(--calcite-color-foreground-1);
  transition: opacity 1s;
}

.money-tides_view {
  width: 100%;
  height: 100%;
}
